[Desktop Entry]
Type=Application
Name=Arc Store URL Handler
Exec=arc-frontend %U
Icon=org.blossomos.Arc
Terminal=false
NoDisplay=true
StartupNotify=true
MimeType=x-scheme-handler/appstream;x-scheme-handler/flatpak+https;
X-KDE-Protocols=appstream;flatpak+https
