[Desktop Entry]
Type=Application
Name=Arc Store
Comment=Discover and install applications from Flathub and your package files
Comment[de]=Apps aus Flathub und lokalen Paketen entdecken und installieren
Exec=arc-frontend %u
Icon=org.blossomos.Arc
Terminal=false
Categories=System;PackageManager;
StartupNotify=true
StartupWMClass=arc-frontend
MimeType=application/x-deb;application/x-rpm;application/vnd.archlinux.pkg;application/x-appimage;application/vnd.flatpak.ref;application/vnd.flatpak;x-scheme-handler/appstream;x-scheme-handler/flatpak+https;x-scheme-handler/flatpak+http;
Actions=ManageExtensions;

[Desktop Action ManageExtensions]
Name=Manage Extensions
Name[de]=Erweiterungen verwalten
Exec=arc-frontend --manage-extensions
