[Desktop Entry]
Type=Application
Name=Arc Software URL Handler
Exec=arc-frontend %U
Icon=org.blossomos.Arc
Terminal=false
NoDisplay=true
StartupNotify=true
StartupWMClass=arc-frontend
MimeType=x-scheme-handler/appstream;x-scheme-handler/flatpak+https;
X-KDE-Protocols=appstream;flatpak+https
