[Desktop Entry]
Type=Application
Name=Arc Software
Comment=Discover and install applications from Flathub and your package files
Comment[de]=Apps aus Flathub und lokalen Paketen entdecken und installieren
Exec=arc-frontend %F %U
Icon=org.blossomos.Arc
Terminal=false
Categories=System;PackageManager;
StartupNotify=true
StartupWMClass=arc-frontend
MimeType=application/x-deb;application/x-rpm;application/vnd.archlinux.pkg;application/x-appimage;x-scheme-handler/appstream;x-scheme-handler/flatpak+https;
Actions=ManageExtensions;
X-KDE-Protocols=appstream

[Desktop Action ManageExtensions]
Name=Manage Extensions
Name[de]=Erweiterungen verwalten
Exec=arc-frontend --manage-extensions
